/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	font: 13.34px helvetica, arial, clean, sans-serif;
	*font-size: small;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

h1 {
	margin-bottom: 1em;
}

p {
	margin: 1em 0;
}

a {
	color: #00a;
}

a:hover {
	color: black;
}

a:visited {
	color: #a0a;
}

table {
	font-size: inherit;
	font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
	list-style-type: none;
	margin-bottom: 2em;
}

.small {
	font-size:90%;
}

ul.posts li {
	line-height: 1.75em;
}

ul.posts span {
	color: #aaa;
	font-family: Monaco, "Courier New", monospace;
	font-size: 80%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
	font-size: 110%;
	text-align: justify;
	width: 40em;
	margin: 3em auto 2em auto;
	line-height: 1.5em;
}

.title {
	color: #a00;
	font-weight: bold;
	margin-bottom: 2em;
}

.site .title a {
	color: #a00;
	text-decoration: none;
}

.site .title a:hover {
	color: black;
}

.site .title a.extra {
	color: #aaa;
	text-decoration: none;
	margin-left: 1em;
}

.site .title a.extra:hover {
	color: black;
}


.header {
	border-bottom:1px solid #CCCCCC;
	color:#0000AA;
	font-weight:bold;
	margin-bottom:2em;
	text-align:left;
}
.site .header h1 {
	font-family:"Lucida Grande",Verdana,Arial,sans-serif;
	font-size:26px;
	font-weight:normal;
}
.site .header a {
	color:#0000AA;
	text-decoration:none;
}
.site .header a:hover {
	color:black;
}
.site .header a.extra {
	color:#999;
	margin-right:2em;
	text-decoration:none;
}
.site .header a.extra:hover {
	color:black;
}

.site #intro{
	color:#000000;
	font-size:18px;
	margin-bottom:1em;
}

.site .meta {
	color: #aaa;
}

.site .additional_info {
	clear:both;
	padding-top: 2em;
	border-top: 4px solid #eee;
}

.site .footer {
	clear:both;
	font-size: 80%;
	color: #666;
	border-top: 4px solid #eee;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .contact {
	float: left;
	margin-right: 3em;
}

.site .footer .contact a {
	color: #8085C1;
}

.site .footer .rss {
	margin-top: 1.1em;
	margin-right: -.2em;
	float: right;
}

.site .footer .rss img {
	border: 0;
}

.site .footer2 {
	font-size: 80%;
	color: #666;
	text-align:center;
	margin-top: 2em;
	overflow: hidden;
}
.site .footer2 a {
	color: #666;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post {
	border-bottom: 1px #ccc solid;
	padding-bottom: 10px;
	margin-bottom:30px;
}

/* standard */

.post pre {
	border: 1px solid #ddd;
	background-color: #eef;
	padding: 0 .4em;
}

.post code {
	border: 1px solid #ddd;
	background-color: #eef;
	font-size: 95%;
	padding: 0 .2em;
}

.post pre code {
	border: none;
}

/* terminal */

.post pre.terminal {
	border: 1px solid black;
	background-color: #333;
	color: white;
	font-size: 14px;
	overflow:auto;
}

.post pre.terminal code {
	background-color: #333;
}


/* date */
.post .date{
	color:#666666;
	font-style:italic;
}

#related {
	margin-top: 2em;
}

#related h2 {
	margin-bottom: 1em;
}

.related_left {
	float:left;
	width:45%;	
}

.related_right {
	float:right;	
}


.view_comments_link {
	font-size:12px;
	text-align:right;
	margin-top:10px;
}
